* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

.sidebar{
    height: 100%;
    background: #44475a;
    padding: 30px 0px;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    margin-left: -1em; 
    margin-right: 1em;
}  

.sidebar ul li{
    padding: 1em;
}    
  
.sidebar ul li a{
    color: #bdb8d7;
    display: block;
}
    
.sidebar ul li:hover{
    background-color: #bd93f9;
 }
      
.sidebar ul li:hover a{
    color: #fff;
}

.page{
    padding: 2em;
    padding-left: 8em;
}

.pageheading{
    padding-bottom: 2em;
}

.pagecontent p{
    padding-bottom: 2em;
}

.addrow-btn {
    margin-bottom: 1em;
}

.create-project-buts{
    margin-bottom: 2em;
}

.but-pos {
    background-color: #50fa7b;
    border-color: #50fa7b;
}

.but-pos:hover {
    background-color: #2eb34f;
    border-color: #2eb34f;
}

.but-neg {
    background-color: #ff5555;
    border-color: #ff5555;
}

.but-neg:hover {
    background-color: #be1d1d;
    border-color: #be1d1d;
}

.but-submit {
    background-color: #8bbefd;
    border-color: #8be9fd;
}