* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
h1 {
    margin-left: 3em;
}
.sidebar{
    width: 5em;
    height: 100%;
    background: #44475a;
    padding: 30px 0px;
    position: fixed;
    text-align: center;
}
 
.sidebar ul li{
    padding: 1em;
}    
  
.sidebar ul li a{
    color: #bdb8d7;
    display: block;
    text-decoration: none;
}
  
  
.sidebar ul li:hover{
    background-color: #bd93f9;
}
      
.sidebar ul li:hover a{
    color: #fff;
}