* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
    margin-left: 75px;
}

/* Sidebar */

ul {
    position: absolute;
    height: 100%;
    list-style-type: none;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #583786;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #875bc5;
}

/* Profile */
.page-content {
    margin: 1em;
    display: grid;
    grid-template-columns: 20%;
    row-gap: 120px;
    column-gap: 35px;
    grid-auto-rows: 25%;
}
.container-1 {
    grid-column: 1/2;
}

.container-2 {
    grid-column: 2/2;
}
.card {
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 1.5em;
}
.card-header {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
}
.card-body-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-text {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.card-image {

    margin-bottom: 10px;
}

.tabs {  
    display: flex;  
  }
  .tab {  
    justify-content: center;
    align-items: center;
    width: 100%;
    background: lightsteelblue; 
    padding: 2em 0;  
    border: none;
  }
  .tab.active {
    background: steelblue;
    font-weight: bold;
  }
  .chosen {
    display: none;
    padding: 10px;
  }
  .chosen.active {
    display: block;
  }
  